@font-face {
  font-family: "Roblox";
  src: url(MinecraftTen-VGORe.ttf) format("truetype");
  font-weight: bold;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #58b7cf,
    #9dd2e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #58b7cf,
    #9dd2e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
e {
  font-size: 2em;
  font-family: "Roblox", sans-serif;
  font-weight: bold;
}
e,
e {
  margin: 0;
  color: #171717;
}